[project]
	description = Scriptable Headless WebKit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefan Libbe (slibbe)
[access "refs/for/refs/*"]
	read = group user/Stefan Libbe (slibbe)
	push = group user/Stefan Libbe (slibbe)
	label-Code-Review = -2..+2 group user/Stefan Libbe (slibbe)
	label-Verified = -1..+1 group user/Stefan Libbe (slibbe)
	rebase = group user/Stefan Libbe (slibbe)
	removeReviewer = group user/Stefan Libbe (slibbe)
	submit = group user/Stefan Libbe (slibbe)
[access "refs/heads/*"]
	read = group user/Stefan Libbe (slibbe)
	create = group user/Stefan Libbe (slibbe)
	push = +force group user/Stefan Libbe (slibbe)
	pushMerge = group user/Stefan Libbe (slibbe)
[access "refs/tags/*"]
	push = group user/Stefan Libbe (slibbe)
	push = +force group user/Stefan Libbe (slibbe)
